{% extends '::base.html.twig' %}
{% block body -%}
    <div class="page-header">
    	<h1>Tipos de Vehículos</h1>     
        </div>
    <table class="data-tbl-simple table table-bordered table-condensed table-striped table-hover">
        <thead>
            <tr>

            	<th>Tipo</th>

            	<th>Tarifa</th>
                
                <th>Acciones</th>
            </tr>
          
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tipovehiculo_show', { 'id': entity.id }) }}">{{ entity.tipo }}</a></td>
                <td>{{ entity.tarifa }}</td>
                <td style="text-align:center"><a href="{{ path('tipovehiculo_show', { 'id': entity.id }) }}" > <i class="fa fa-eye"></i> </a><a href="{{ path('tipovehiculo_edit', { 'id': entity.id }) }}" ><i class="fa fa-pencil"></i> </a>                </td>
            </tr>
      
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
{% block javascripts -%}

{% endblock %}
