{{ form_start(form) }}
<table>
   <tr>
       <th>Tipo</th>
       <td>{{form_widget(form.tipo)}}</td>
   </tr>
   <tr>
       <th>Tarifa</th>
       <td>{{form_widget(form.tarifa)}}</td>
   </tr>
</table>
<div style="display:none">
    {{form_rest(form)}}
</div>
{{ form_end(form)}}
