{% extends '::base.html.twig' %}


{% block body %}

<h1>Crear Nuevo Vehiculo</h1>

<form action="{{ path('tipovehiculo') }}" method="post">
    <div class="form-actions">
        <th>Tipo</th>
        <br>{{form_widget(form.tipo)}}</br>
        <th>Tarifa</th>
        <br>{{form_widget(form.tarifa)}}</br>
       

    <a href="{{ path('tipovehiculo') }}" class="btn btn-mini"> Cancelar        </a>
{{ form_rest(form) }}

   

    </div>
</form>

{% endblock %}