{%extends "::base.html.twig"%}
{%block body-%}

<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="center gap">
                        <h2>Datos</h2>
                        <p>Configuraci&oacute;n de su sistema.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                       <div class="pull-left">
                           <a href="{{path('vehiculo')}}">
                            <i class="fa fa-truck icon-md"></i></a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Veh&iacute;culos</h3>
                            <p>Los Veh&iacute;culos que maneja su compañia.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <a href="{{path('tipovehiculo')}}">
                            <i class="fa fa-cubes icon-md"></i></a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Tipo de Veh&iacute;culo</h3>
                            <p>Los Tipos Veh&iacute;culo que se manejan.</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <a href="{{path('conductor')}}">
                            <i class="fa fa-users icon-md"></i></a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Conductores</h3>
                            <p>Listado de conductores</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div><!--/.row-->


            <div class="gap"></div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <a href="{{path('tipoproceso')}}">
                            <i class="fa fa-cogs icon-md"></i></a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Tipos de Proceso</h3>
                            <p>Servicios prestados a los clientes</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <a href="{{path('cliente')}}">
                            <i class="fa fa-credit-card icon-md"></i></a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Clientes</h3>
                            <p>El listado de clientes</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div><!--/.row-->
        

        </div>
    </section><!--/#services-->



{%endblock%}
